
.lista table {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}
.lista table th {
    background-color: #83d41d;
}
.lista table td {
    border: 1px solid transparent;
}
.Par {
    background-color: #afafaf;
}